.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 48px 0;
    margin: auto;
}

@media only screen and (max-width : 1280px) {
    .header {
          max-width: 1280px;
      }
}

@media screen and (max-width: 768px) { 
    .header {
        justify-content: space-between;
        padding: 28px 24px 0;
    }
}

@media screen and (max-width : 320px) { 
    .header {
        justify-content: space-between;
        padding: 16px 16px 0;
    }
}