.root {
    margin: 0 auto;
    background-color: #2a2c2f;
    font-family: "Inter", Arial, sans-serif;
    color: #ffffff;
    min-width: 320px;
}

.content {

}

@media only screen and (max-width: 1280px) {
    .root {
        max-width: 1280px;
    }
}

@media only screen and (max-width: 1024px) {
    .root {
        max-width: 1024px;
    }
}

@media only screen and (max-width: 768px) {
    .root {
        max-width: 768px;
    }
}

@media only screen and (max-width: 320px) {
    .root {
        max-width: 320px;
    }
}